.bodyWrapper {
  background-color: #F0F2F5;
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 992px) {
  .bodyWrapper {
    padding: 15px;
  }
}
.bodyWrapper .body {
  width: 895px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 992px) {
  .bodyWrapper .body {
    width: 100%;
  }
}
.bodyWrapper .body .friendsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 865px;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 20px 15px 15px;
}
@media (max-width: 992px) {
  .bodyWrapper .body .friendsWrapper {
    width: 96%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 576px) {
  .bodyWrapper .body .friendsWrapper {
    padding-left: 15px;
  }
}
.bodyWrapper .body .friendsWrapper .friendsHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}
@media (max-width: 576px) {
  .bodyWrapper .body .friendsWrapper .friendsHeader {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 5px;
  }
}
.bodyWrapper .body .friendsWrapper .friendsHeader .friendsHeaderLink {
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #050505;
  text-decoration: none;
}
.bodyWrapper .body .friendsWrapper .friendsHeader .friendsHeaderLink:hover {
  text-decoration: underline;
}
.bodyWrapper .body .friendsWrapper .friendsHeader .friendsHeaderBtnWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}
@media (max-width: 576px) {
  .bodyWrapper .body .friendsWrapper .friendsHeader .friendsHeaderBtnWrapper {
    gap: 15px;
  }
}
.bodyWrapper .body .friendsWrapper .friendsHeader .friendsHeaderBtnWrapper .friendsHeaderInputWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F0F2F5;
  border-radius: 50px;
}
.bodyWrapper .body .friendsWrapper .friendsHeader .friendsHeaderBtnWrapper .friendsHeaderInputWrapper .friendsHeaderInputImg {
  width: 16px;
  height: auto;
  fill: #606770;
  padding-right: 10px;
}
.bodyWrapper .body .friendsWrapper .friendsHeader .friendsHeaderBtnWrapper .friendsHeaderInputWrapper .friendsHeaderInputImg:hover {
  cursor: pointer;
}
.bodyWrapper .body .friendsWrapper .friendsHeader .friendsHeaderBtnWrapper .friendsHeaderInputWrapper .friendsHeaderInput {
  padding: 7px 6px 9px 10px;
  border: none;
  background-color: #F0F2F5;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  color: #050505;
  font-size: 15px;
}
.bodyWrapper .body .friendsWrapper .friendsHeader .friendsHeaderBtnWrapper .friendsHeaderInputWrapper .friendsHeaderInput::-webkit-input-placeholder {
  color: #606770;
}
.bodyWrapper .body .friendsWrapper .friendsHeader .friendsHeaderBtnWrapper .friendsHeaderInputWrapper .friendsHeaderInput::-moz-placeholder {
  color: #606770;
}
.bodyWrapper .body .friendsWrapper .friendsHeader .friendsHeaderBtnWrapper .friendsHeaderInputWrapper .friendsHeaderInput:-ms-input-placeholder {
  color: #606770;
}
.bodyWrapper .body .friendsWrapper .friendsHeader .friendsHeaderBtnWrapper .friendsHeaderInputWrapper .friendsHeaderInput::-ms-input-placeholder {
  color: #606770;
}
.bodyWrapper .body .friendsWrapper .friendsHeader .friendsHeaderBtnWrapper .friendsHeaderInputWrapper .friendsHeaderInput::placeholder {
  color: #606770;
}
.bodyWrapper .body .friendsWrapper .friendsHeader .friendsHeaderBtnWrapper .friendsHeaderInputWrapper .friendsHeaderInput:focus {
  outline: none;
}
.bodyWrapper .body .friendsWrapper .friendsHeader .friendsHeaderBtnWrapper .friendsHeaderBtn {
  color: #0064D1;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.3333;
  padding: 10px 12px;
  min-width: 200px;
  background-color: transparent;
}
@media (max-width: 576px) {
  .bodyWrapper .body .friendsWrapper .friendsHeader .friendsHeaderBtnWrapper .friendsHeaderBtn {
    padding-left: 0;
    padding-right: 0;
    min-width: 0px;
  }
}
.bodyWrapper .body .friendsWrapper .friendsHeader .friendsHeaderBtnWrapper .friendsHeaderBtn:hover {
  background-color: #F0F2F5;
  cursor: pointer;
}
.bodyWrapper .body .friendsWrapper .friendsList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
@media (max-width: 768px) {
  .bodyWrapper .body .friendsWrapper .friendsList {
    display: block;
  }
}/*# sourceMappingURL=FriendsPage.module.css.map */