.postWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: calc(100vh - 4rem);
  margin: 0;
  padding: 0;
}
.postWrapper .postImageContainer {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.postWrapper .postImageContainer .zoomControls {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.postWrapper .postImageContainer .zoomControls .zoomIn,
.postWrapper .postImageContainer .zoomControls .zoomOut {
  background-image: url("../../sprites/sprite_2.png");
  -webkit-filter: invert(50%);
          filter: invert(50%);
  width: 2rem;
  height: 2rem;
  z-index: 10;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 0 1.5rem 0;
}
.postWrapper .postImageContainer .zoomControls .zoomIn {
  background-position: 0px -6.875rem;
}
.postWrapper .postImageContainer .zoomControls .zoomOut {
  background-position: 0px -4.875rem;
}
.postWrapper .postImageContainer .postImage {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.postWrapper .postContainer {
  overflow-y: auto;
  height: 100vh;
  width: 35rem;
  background-color: #FFFFFF;
}
.postWrapper .postContainer .post {
  padding: 0 2rem 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.postWrapper .postContainer .post .postHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0 1rem;
}
.postWrapper .postContainer .post .postHeader .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.postWrapper .postContainer .post .postHeader .userName {
  font-weight: bold;
  font-size: 1rem;
}
.postWrapper .postContainer .post .postHeader .postBody {
  padding: 1rem 0 1rem;
}
.postWrapper .postContainer .post .originalPost {
  margin-top: 1rem;
}
.postWrapper .postContainer .post .originalPost .originalPostHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 0.8rem;
}
.postWrapper .postContainer .post .originalPost .originalPostHeader .originalAvatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.postWrapper .postContainer .post .originalPost .originalPostHeader .originalUserName {
  font-weight: bold;
  font-size: 0.8rem;
}
.postWrapper .postContainer .post .originalPost .originalPostBody {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: #555;
}
.postWrapper .postContainer .post .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid #ccc;
}
.postWrapper .postContainer .post .stats .commentsCount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.postWrapper .postContainer .post .stats .commentsCount .sprite {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.5rem;
  background-image: url("../../sprites/sprite_1.png");
  background-repeat: no-repeat;
  background-size: 32.5px 1965px;
  -webkit-filter: invert(50%);
          filter: invert(50%);
}
.postWrapper .postContainer .post .stats .likesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}
.postWrapper .postContainer .post .stats .commentsCount .sprite {
  background-position: 0 -117.8rem;
}
.postWrapper .postContainer .post .postActions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ccc;
}
.postWrapper .postContainer .post .postActions button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}
.postWrapper .postContainer .post .postActions button .icon {
  background-image: url("../../sprites/sprite_1.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 2rem;
  height: 2rem;
}
.postWrapper .postContainer .post .postActions button .likeIcon {
  background-position: 0 -98.3rem;
  -webkit-filter: invert(50%);
          filter: invert(50%);
}
.postWrapper .postContainer .post .postActions button .likeIconActive {
  background-position: 0 -66.3rem;
}
.postWrapper .postContainer .post .postActions button .commentIcon {
  background-position: 0 -53.9rem;
  -webkit-filter: invert(50%);
          filter: invert(50%);
}
.postWrapper .postContainer .post .postActions button .shareIcon {
  background-position: 0 -84.8rem;
  -webkit-filter: invert(50%);
          filter: invert(50%);
}
.postWrapper .postContainer .post .postActions button span.text {
  margin-left: 0.5rem;
}
.postWrapper .postContainer .post .CommentsSection {
  padding: 1rem 0 4rem;
}
.postWrapper .postContainer .post .createCommentSection {
  position: sticky;
  bottom: 5rem;
  width: 100%;
  margin-top: 0.5rem;
  border-radius: 0.2rem;
}
.postWrapper .postContainer .post .createCommentSection .addComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0.5rem;
  border-radius: 0.4rem;
  background-color: #FFFFFF;
}
.postWrapper .postContainer .post .createCommentSection .addComment .commentInput {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 0.4rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
}
.postWrapper .postContainer .post .createCommentSection .addComment .error {
  color: red;
  position: absolute;
  top: -20px;
  left: 0;
  font-size: 0.8rem;
}
.postWrapper .postContainer .post .createCommentSection .addComment .commentAvatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.postWrapper .postContainer .post .createCommentSection .addComment textarea {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 0.4rem;
  height: 5rem;
  background-color: #F0F2F5;
  padding: 0.5rem;
  margin-right: 0.5rem;
}
.postWrapper .postContainer .post .createCommentSection .addComment .sendIcon {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  background-image: url("../../sprites/sprite_1.png");
  background-position: 0 -127.5rem;
  -webkit-filter: invert(65%);
          filter: invert(65%);
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background-repeat: no-repeat;
  display: inline-block;
}

@media (max-width: 900px) {
  .postWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .postWrapper .postImageContainer {
    width: 100%;
    height: 80%;
  }
  .postWrapper .postContainer {
    width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .postWrapper .postContainer .post {
    width: 100%;
  }
  .postWrapper .postContainer .post .CommentsSection {
    padding-bottom: 1rem;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .postWrapper .postContainer .post .createCommentSection {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    bottom: 1rem;
  }
}/*# sourceMappingURL=PostPage.module.css.map */