.reset {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}
.reset .resetError {
  font-size: 22px;
  color: red;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  display: block;
  position: relative;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 576px) {
  .reset .resetError {
    width: 90%;
  }
}
.reset .errorBtn {
  margin-top: 5px;
  border: none;
  font-weight: bold;
  background-color: #1877f2;
  border-radius: 6px;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  font-size: 18px;
  height: 36px;
  overflow: hidden;
  padding: 0 32px;
}
.reset .errorBtn:hover {
  cursor: pointer;
}
.reset .errorBtn:disabled {
  background-color: grey;
}
.reset .resetMessage {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 768px) {
  .reset .resetMessage {
    width: 430px;
  }
}
@media (max-width: 576px) {
  .reset .resetMessage {
    padding: 5px 10px;
    width: 320px;
  }
}
.reset .resetForm {
  position: absolute;
  z-index: 2;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 500px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
}
@media (max-width: 576px) {
  .reset .resetForm {
    width: 90%;
    padding: 20px 35px;
  }
}
.reset .resetForm::after {
  content: "";
  position: absolute;
  top: 55px;
  width: 90%;
  left: 5%;
  border-top: 1px solid #dadde1;
}
@media (max-width: 768px) {
  .reset .resetForm::after {
    top: 55px;
  }
}
@media (max-width: 576px) {
  .reset .resetForm::after {
    top: 60px;
  }
}
.reset .resetForm .resetFormTitleWrapper {
  text-align: left;
  margin-bottom: 25px;
}
.reset .resetForm .resetFormTitleWrapper .resetFormTitle {
  margin-top: 0;
  color: #1c1e21;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .reset .resetForm .resetFormTitleWrapper .resetFormTitle {
    font-size: 25px;
  }
}
.reset .resetForm .resetFormTitleWrapper .resetFormSubtitle {
  margin: 0;
  color: #606770;
  font-size: 15px;
  line-height: 24px;
}
.reset .resetForm .resetWrapperLink {
  color: #1877f2;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
.reset .resetForm .resetWrapperLink:hover {
  text-decoration: underline;
}
.reset .resetForm .resetWrapperLink::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: #ccd0d5;
  margin: 22px 0 16px;
}
.reset .resetForm .resetBtnSubmit {
  margin-top: 5px;
  border: none;
  font-weight: bold;
  background-color: #1877f2;
  border-radius: 6px;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  font-size: 18px;
  height: 36px;
  overflow: hidden;
  padding: 0 32px;
}
.reset .resetForm .resetBtnSubmit:hover {
  cursor: pointer;
}
.reset .resetForm .resetBtnSubmit:disabled {
  background-color: grey;
}/*# sourceMappingURL=ResetPassword.module.css.map */