@import "../../styles/mixin.scss";

.modalWrapper {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    z-index: 2;
    padding: 15px;

    .modal {
        width: 500px;
        min-height: 460px;
        border-radius: 5px;
        box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include width_576 {
            width: 100%;
        }

        .error {
            font-size: 15px;
            color: red;
            display: block;
            padding-left: 16px;
            margin-bottom: 0;
            margin-top: 5px;
        }

        .errorNames {
            font-size: 10px;
            color: red;
            margin: 0;
            bottom: -15px;
            left: 0;
            display: block;
            position: absolute;
        }

        .errorDisplayNone {
            display: none;
        }

        .modalHeader {
            .modalHeaderTitleWrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                height: 60px;

                .modalHeaderTitle {
                    color: #050505;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 1.2;
                }

                .modalHeaderCloseBtn {
                    width: 36px;
                    height: 36px;
                    background-color: #E4E6EB;
                    border: none;
                    border-radius: 50%;
                    position: absolute;
                    right: 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .modalHeaderCloseBtnImg {
                        width: 20px;
                        height: 20px;
                    }

                    &:hover {
                        cursor: pointer;
                        background-color: #d5d8de;
                    }
                }

                &::after {
                    content: "";
                    width: 100%;
                    border-bottom: 1px solid #ced0d4;
                    position: absolute;
                    top: 60px;
                }
            }

            .modalHeaderInfo {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 16px;
                gap: 10px;


                .modalHeaderInfoImg {
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                    border-radius: 50%;
                }

                .modalHeaderInfoTitle {
                    text-decoration: none;
                    color: #050505;
                    line-height: 1.3333;
                    font-size: 15px;
                    font-weight: 600;

                }
            }

            .modalNewInfo {
                width: 92%;
                margin-left: 16px;
                box-sizing: border-box;
                max-height: 210px;
                border: none;
                text-align: left;
                font-size: 24px;
                resize: none;

                &::placeholder {
                    font-size: 24px;
                }
                &:focus {
                    outline: none;
                }
            }

            .repost {

                padding: 12px 16px 12px 45px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 8px;

                .repostAvatar {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .repostName {
                    font-weight: 600;
                    font-size: 13px;
                    color: #050505;
                    text-decoration: none;
                }

            }

        }

        .modalMain {
            width: 100%;
            max-height: 500px;

            .modalMainText {
                box-sizing: border-box;
                padding-right: 16px;
                padding-left: 45px;
                border: none;
                text-align: left;
                font-size: 15px;
                resize: none;
                width: 100%;
            }

            .modalMainImg {
                width: 93%;
                max-height: 245px;
                object-fit: cover;
                padding-left: 16px;
                padding-right: 16px;
                margin-top: 16px;
            }
        }


        .modalFooter {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 56px;
            padding: 16px;
            gap: 10px;

            @include width_576 {
                flex-direction: column;
            }


            .modalAddPhotoBtn {
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 100%;
                width: 229px;
                border: 1px solid #dfe0e2;
                border-radius: 5px;
                gap: 5px;
                background-color: transparent;
                font-size: 15px;
                font-weight: 600;
                line-height: 1.3333;
                color: #050505;

                @include width_576 {
                    width: 100%;
                    min-height: 50%;
                }

                &:hover {
                    cursor: pointer;
                }

                .modalAddPhotoImg {
                    width: 24px;
                    max-height: 24px;
                }
            }

            .modalPublish {
                width: 98%;
                border: none;
                border-radius: 5px;
                font-size: 15px;
                font-weight: 600;
                line-height: 1.3333;
                color: white;
                background-color: #0866FF;

                &:hover {
                    cursor: pointer;
                }

                &:disabled{
                    background-color: #ccd0d5;
                }
            }
        }
    }
}

.displayNone {
    display: none;
}