@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.bodyWrapper {
    background-color: #F0F2F5;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;

    @include width_992 {
        padding: 15px;
    }

    .body {
        width: 895px;
        display: flex;
        justify-content: center;

        @include width_992 {
            width:  100%;
        }

        .friendsWrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 865px;
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            padding: 20px 15px 15px;

            @include width_992 {
                width: 96%;
                padding-left: 10px;
                padding-right: 10px;
            }

            @include width_576 {
                padding-left: 15px;
            }

            .friendsHeader {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 16px;

                @include width_576 {
                    flex-direction: column;
                    align-items: start;
                    gap: 5px;
                }

                .friendsHeaderLink {
                    padding-top: 6px;
                    padding-bottom: 6px;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 1.2;
                    color: #050505;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .friendsHeaderBtnWrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;

                    @include width_576 {
                        gap: 15px;
                    }

                    .friendsHeaderInputWrapper {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #F0F2F5;
                        border-radius: 50px;

                        .friendsHeaderInputImg {
                            width: 16px;
                            height: auto;
                            fill: #606770;
                            padding-right: 10px;
                            &:hover{
                                cursor: pointer;
                            }
                        }

                        .friendsHeaderInput {
                            padding: 7px 6px 9px 10px;
                            border: none;
                            background-color: #F0F2F5;
                            border-top-left-radius: 50px;
                            border-bottom-left-radius: 50px;
                            color: #050505;
                            font-size: 15px;

                            &::placeholder {
                                color: #606770;
                            }

                            &:focus{
                                outline: none;
                            }
                        }
                    }
                    .friendsHeaderBtn{
                        color: #0064D1;
                        border: none;
                        border-radius: 5px;
                        font-size: 15px;
                        font-weight: 600;
                        line-height: 1.3333;
                        padding:10px 12px;
                        min-width: 200px;
                        background-color: transparent;

                        @include width_576 {
                            padding-left: 0;
                            padding-right: 0;
                            min-width: 0px;
                        }

                        &:hover{
                            background-color: #F0F2F5;
                            cursor: pointer;
                        }
                    }
                }
            }
    
            .friendsList{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 10px;

                @include width_768 {
                    display: block;
                }
            }
        }
    }
}
.linksListWrapper {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 5px;
    background-color: white;
    text-align: center;

    .linksList {
        display: flex;
        justify-content: flex-start;
        width: 940px;
        margin: 0;
        margin-top: 20px;
        padding: 0;
        position:relative;

        @include width_992 {
            width: 850px;
        }

        @include width_880 {
            width: 100%;
            justify-content: center;
        }
        @include width_576 {
            gap:10px;
        }

        .linksListElem {
            list-style: none;
            height: 45px;
            padding-left: 16px;
            padding-right: 16px;
            width: 150px;
            border-radius: 5px;

            &:hover {
                background-color: #f2f2f2;
            }

            @include width_576 {
                width: 50px;
            }


            .linksListElemLink {
                text-decoration: none;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 1.3333;
                font-weight: 600;
                font-size: 15px;
                color: #65676B;
            }
        }

        .linksListElemClick {
            list-style: none;
            height: 45px;
            padding-left: 16px;
            padding-right: 16px;
            width: 150px;
            border-radius: 5px;
            position: relative;

            @include width_576 {
                width: 50px;
            }

            &::after {
                content: "";
                position: absolute;
                left: 0;
                border-bottom: 3px solid #0866FF;
                width: 100%;
            }

            .linksListElemLinkClick {
                text-decoration: none;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 1.3333;
                font-weight: 600;
                font-size: 15px;
                color: #0866FF;
            }
        }
    }
}
.friendsSearch{
    display: flex;
    @include input-field;
    padding: 0 16px;
    position: absolute;
    margin:3px;
    right: 15px;
    background-color: #F0F2F5;
}
.friendsSearchActive {
    background-color: #e7f3ff; 
    border-bottom: 3px solid #0866FF; 
    color: #0866FF;
}