@import "../../styles/mixin.scss";

.groupCardWrapper {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    @include width_992 {
        padding: 15px;
    }

    @include width_768 {
        margin-bottom: 15px;
        
        &:last-child{
            margin-bottom: 0;
        }
    }

    .groupCard {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 16px;
        width: 100%;
        text-decoration: none;

        .groupCardImg {
            width: 80px;
            height: 80px;
            object-fit: cover;
            border-radius: 5px;
        }

        .groupCardInformWrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;

            .groupCardInformTitle{
                width: 100%;
                text-decoration: none;
                color: #050505;
                line-height: 1.1765;
                font-size: 20px;
                font-weight: 600;

                &:hover{
                    text-decoration: underline;
                }
            }
            .groupCardInformText{
                margin-top: 5px;
                margin-bottom: 0;
                font-size: 13px;
                font-weight: 400;
                line-height: 1.2308;
                color: #65676B;
            }
        }
    }
    .groupCardBtn{
        border: none;
        background-color: transparent;
        border-radius: 50%;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover{
            background-color: #F0F2F5;
            cursor: pointer;
        }

        .groupCardBtnImg{
            width: 20px;
            max-height: 20px;
        }
    }
}
.iconGlobe{
    background-image: url("../../sprites/sprite_4.png");
    background-position: -1rem -20.1rem;
    background-repeat: no-repeat;
    background-size: auto;
    display: inline-block;
    height: 0.85rem;
    margin-right: 5px;
    width: 0.85rem;
}