@import "../../styles/mixin.scss";

.container {
  @include pageableContainer;
  padding: 0;
  &_allCard {
    padding: 2rem;
  }

  &_cards_bloc {
      width: 100%;

    @media (min-width: 768px){
      width: 90%;
    }
    @media (min-width: 880px){
      width: 80%;
    }
    @media (min-width: 992px){
      width: 60%;
    }
    & li{
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;

    }
  }
}