@import "../../styles/mixin.scss";

.container {
  @include pageableContainer;

  padding: 0;
  &_allCard {
    padding: 2rem;
  }

  &_cards_bloc {
    max-width: 40rem;

    & li{
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
}