@import "../../styles/mixin.scss";

.favoritesWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
  overflow: auto;
  height: 100%;

  .favorites {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    overflow: auto;

    .favoritesElem {
      width: 100%;
      max-width: 40rem;

      @include width_880 {
        max-width: none;
      }
    }

    &.container_allCard {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      overflow: auto;
      padding: 2rem;
    }
  }
}