@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.chat-field-section{
  @include flex-center;
  width: 74%;
  height:100%;
  &__empty{
    width: 100%;
    height: 100%;
    @include flex-center;
    justify-content: center;
    background: $input-color-main;
    h1{
      color: $text-color-gray;
      font-weight: bold;
      margin: 24px;
      font-size: 24px;
    }
  }
  &__chat{
    @include flex-center;
    height: 100%;
    width: 100%;
    &__header{
      width: 100%;
      height: 64px;
      @include flex-center;
      flex-direction: row;
      border-bottom: 1px solid $input-color-main;
      padding: 12px 16px;
      & > :hover {
       background: none;
        cursor: auto;
      }
      &__card{
        width:40px;
        height: 40px;
      }
    }
    &__body{
      flex:1;
      display: flex;
      flex-direction: column-reverse;
      width:100%;
      &__mess-list{
        @include flex-center;
        padding: 8px 16px;
        &__items{

          &__item{
            display:flex;
            flex-direction:row;
            width:100%;
            padding-bottom:8px;
          }
        }
      }

    }
    &__input{
      width:100%;
      @include flex-center;
      flex-direction: row;
      padding:12px 16px;
      & form{
        @include input-field;
        width: 100%;
        padding: 8px 12px;
        & input{
          width:100%;
        }
      }
    }
  }
}

.chat-messageWrapper{

  display:flex;
  flex-direction:row;
  font-size:15px;
  align-items: center;
  width:100%;
  &__cont{
    display:flex;
    flex-direction:row;
    align-items: center;
    flex: 1;
    &.authUser{
      justify-content: flex-end;
    }

    &__text {
      @include input-field;
      @include flex-center;
      padding:8px;
      max-width: 588px;
      position: relative;

      &.authUser{
        background-color: $btn-main-color;
        color:$text-color-on-dark-background;
      }
      &.chatUser {
        background-color: $background-color-receiver-message;
        color: $main-text-color;
      }
      &:hover div{
        display: flex;
      }
      &__datatime{
        position: absolute;
        background-color: $text-color-gray;
        display:none;
        border-radius: 6px;
        right: 100%;
        width: fit-content;
        opacity: 0.8;
        top:0;
        & p{
          padding:6px;
          color:$main-text-color;
          width:max-content;
        }
      }
    }
  }
  //&--chatUser{
  //  display:flex;
  //  flex-direction:row;
  //  align-items: center;
  //  &__text{
  //    @include input-field;
  //    background-color: $background-color-receiver-message;
  //    color: $main-text-color;
  //    @include flex-center;
  //    padding:8px;
  //    max-width: 588px;
  //    position: relative;
  //    &:hover div{
  //      display: flex;
  //    }
  //    &__datatime{
  //      position: absolute;
  //      background-color: $text-color-gray;
  //      display:none;
  //      border-radius: 6px;
  //      left: -100%;
  //      right: 100%;
  //
  //      opacity: 0.8;
  //      & p{
  //        color:$main-text-color;
  //        white-space: nowrap;
  //      }
  //    }
  //  }
  //
  //}
  &__avatar{
    width:28px;
    height:28px;
    margin-right:8px;
  }

}