.popup {
  position: fixed;
  bottom: 0;
  left: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #4267B2;
  background: #f5f6f7;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  opacity: 0;
  font-size: 0.9rem;
  font-weight: 500;
  min-width: 20vw;

  &_show {
    opacity: 1;
    transform: translateX(-120%) translateY(-20%);
  }
}

