.profileBodyWrapper {
  background-color: #F0F2F5;
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 992px) {
  .profileBodyWrapper {
    padding: 15px;
  }
}
.profileBodyWrapper .profileBody {
  width: 895px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 992px) {
  .profileBodyWrapper .profileBody {
    width: 100%;
  }
}
.profileBodyWrapper .profileBody .profileFriendsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 865px;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 20px 15px 15px;
}
@media (max-width: 992px) {
  .profileBodyWrapper .profileBody .profileFriendsWrapper {
    width: 96%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 576px) {
  .profileBodyWrapper .profileBody .profileFriendsWrapper {
    padding-left: 15px;
  }
}
.profileBodyWrapper .profileBody .profileFriendsWrapper .profileFriendsHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}
@media (max-width: 576px) {
  .profileBodyWrapper .profileBody .profileFriendsWrapper .profileFriendsHeader {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 5px;
  }
}
.profileBodyWrapper .profileBody .profileFriendsWrapper .profileFriendsHeader .profileFriendsHeaderLink {
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #050505;
  text-decoration: none;
}
.profileBodyWrapper .profileBody .profileFriendsWrapper .profileFriendsHeader .profileFriendsHeaderLink:hover {
  text-decoration: underline;
}
.profileBodyWrapper .profileBody .profileFriendsWrapper .profileFriendsHeader .profileFriendsHeaderBtnWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}
@media (max-width: 576px) {
  .profileBodyWrapper .profileBody .profileFriendsWrapper .profileFriendsHeader .profileFriendsHeaderBtnWrapper {
    gap: 15px;
  }
}
.profileBodyWrapper .profileBody .profileFriendsWrapper .profileFriendsHeader .profileFriendsHeaderBtnWrapper .profileFriendsHeaderInputWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F0F2F5;
  border-radius: 50px;
}
.profileBodyWrapper .profileBody .profileFriendsWrapper .profileFriendsHeader .profileFriendsHeaderBtnWrapper .profileFriendsHeaderInputWrapper .profileFriendsHeaderInputImg {
  width: 16px;
  height: auto;
  fill: #606770;
  padding-right: 10px;
}
.profileBodyWrapper .profileBody .profileFriendsWrapper .profileFriendsHeader .profileFriendsHeaderBtnWrapper .profileFriendsHeaderInputWrapper .profileFriendsHeaderInputImg:hover {
  cursor: pointer;
}
.profileBodyWrapper .profileBody .profileFriendsWrapper .profileFriendsHeader .profileFriendsHeaderBtnWrapper .profileFriendsHeaderInputWrapper .profileFriendsHeaderInput {
  padding: 7px 6px 9px 10px;
  border: none;
  background-color: #F0F2F5;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  color: #050505;
  font-size: 15px;
}
.profileBodyWrapper .profileBody .profileFriendsWrapper .profileFriendsHeader .profileFriendsHeaderBtnWrapper .profileFriendsHeaderInputWrapper .profileFriendsHeaderInput::-webkit-input-placeholder {
  color: #606770;
}
.profileBodyWrapper .profileBody .profileFriendsWrapper .profileFriendsHeader .profileFriendsHeaderBtnWrapper .profileFriendsHeaderInputWrapper .profileFriendsHeaderInput::-moz-placeholder {
  color: #606770;
}
.profileBodyWrapper .profileBody .profileFriendsWrapper .profileFriendsHeader .profileFriendsHeaderBtnWrapper .profileFriendsHeaderInputWrapper .profileFriendsHeaderInput:-ms-input-placeholder {
  color: #606770;
}
.profileBodyWrapper .profileBody .profileFriendsWrapper .profileFriendsHeader .profileFriendsHeaderBtnWrapper .profileFriendsHeaderInputWrapper .profileFriendsHeaderInput::-ms-input-placeholder {
  color: #606770;
}
.profileBodyWrapper .profileBody .profileFriendsWrapper .profileFriendsHeader .profileFriendsHeaderBtnWrapper .profileFriendsHeaderInputWrapper .profileFriendsHeaderInput::placeholder {
  color: #606770;
}
.profileBodyWrapper .profileBody .profileFriendsWrapper .profileFriendsHeader .profileFriendsHeaderBtnWrapper .profileFriendsHeaderInputWrapper .profileFriendsHeaderInput:focus {
  outline: none;
}
.profileBodyWrapper .profileBody .profileFriendsWrapper .profileFriendsHeader .profileFriendsHeaderBtnWrapper .profileFriendsHeaderBtn {
  color: #0064D1;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.3333;
  padding: 10px 12px;
  min-width: 200px;
  background-color: transparent;
}
@media (max-width: 576px) {
  .profileBodyWrapper .profileBody .profileFriendsWrapper .profileFriendsHeader .profileFriendsHeaderBtnWrapper .profileFriendsHeaderBtn {
    padding-left: 0;
    padding-right: 0;
    min-width: 0px;
  }
}
.profileBodyWrapper .profileBody .profileFriendsWrapper .profileFriendsHeader .profileFriendsHeaderBtnWrapper .profileFriendsHeaderBtn:hover {
  background-color: #F0F2F5;
  cursor: pointer;
}
.profileBodyWrapper .profileBody .profileFriendsWrapper .profileFriends {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
@media (max-width: 768px) {
  .profileBodyWrapper .profileBody .profileFriendsWrapper .profileFriends {
    display: block;
  }
}/*# sourceMappingURL=FriendPageProfile.module.css.map */