.header {
  max-height: 4rem;
  grid-area: header;
  width: 100%;
  border-bottom: 1px solid #F0F2F5;
  -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 15px;
}
.header__logoWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
}
.header__logoWrap svg {
  height: 40px;
  width: auto;
}
.header__logoWrap__link {
  cursor: pointer;
}
.header__logoWrap__search {
  display: none;
}
.header__nav {
  display: none;
}
.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.header__icons__item {
  background-color: #E4E6EB;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.header__icons__item:hover {
  background-color: #ecf3ff;
}
.header__icons__item svg {
  width: 20px;
  height: 20px;
}
.header__icons__item span {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #FFFFFF;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -6px;
  right: -6px;
  font-size: 14px;
  font-weight: 600;
}
.header__icons__item__avatar {
  width: 40px;
  height: 40px;
}

.smallLogo {
  display: none;
}

.mobile {
  display: none;
}

@media (min-width: 768px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
  .header__logoWrap__search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #F0F2F5;
    border-radius: 16px;
    color: #65676B;
    height: 36px;
    padding: 0 16px;
  }
  .header__icons {
    gap: 16px;
  }
  .desktopNone {
    display: none;
  }
}
@media (min-width: 1020px) {
  .smallLogo {
    display: block;
    padding-right: 16px;
  }
  .largeLogo {
    display: none;
  }
}/*# sourceMappingURL=Header.module.css.map */