.messageWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  width: 100%;
}
.messageWrapper__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.messageWrapper__cont__text {
  background-color: #F0F2F5;
  border-radius: 16px;
  color: #65676B;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  max-width: 70%;
  position: relative;
  height: auto;
}
.messageWrapper__cont__text p {
  overflow-wrap: anywhere;
}
.messageWrapper__cont__text img {
  height: 200px;
  width: auto;
  border-radius: 6px;
}
.messageWrapper__cont__text:hover div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.messageWrapper__cont__text__datatime {
  position: absolute;
  background-color: #65676B;
  display: none;
  border-radius: 6px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  opacity: 0.8;
  z-index: 2;
}
.messageWrapper__cont__text__datatime p {
  padding: 6px;
  color: #050505;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.messageWrapper__avatar {
  width: 28px;
  height: 28px;
  margin-right: 8px;
}

.auth {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.auth__authUser {
  background-color: #0084FF;
  color: #FFFFFF;
}
.auth__authUser__date {
  right: 0;
  bottom: -20px;
}
.auth__chatUser {
  background-color: #E4E6EB;
  color: #050505;
}
.auth__chatUser__date {
  right: 0;
  bottom: -20px;
}

.image {
  background-color: #FFFFFF;
}

.messageStatus {
  font-size: 13px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 8px;
}
.messageStatus__unread {
  color: #65676B;
}
.messageStatus__read {
  width: 16px;
  height: 16px;
}
.messageStatus__error {
  color: red;
}

.img {
  cursor: pointer;
}

.none {
  display: none;
}

@media (min-width: 768px) {
  .auth__authUser__date {
    right: 100%;
    bottom: 0;
  }
  .auth__chatUser__date {
    left: 100%;
    bottom: 0;
  }
  .messageWrapper__cont__text {
    max-width: 60%;
  }
}
@media (min-width: 1025px) {
  .messageWrapper__cont__text {
    max-width: 588px;
  }
}/*# sourceMappingURL=Message.module.css.map */