.modalWrapper {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  z-index: 3;
  position: fixed;
  top: 0;
}
.modalWrapper .modal {
  text-align: center;
  background-color: white;
  -webkit-box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
          box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}
@media (max-width: 576px) {
  .modalWrapper .modal {
    width: calc(100% - 30px);
  }
}
.modalWrapper .modal .modalHeader {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 12px 16px;
  gap: 60px;
}
.modalWrapper .modal .modalHeader .modalHeaderTitle {
  margin: 0;
  color: #050505;
  line-height: 1.2;
  font-size: 20px;
  font-weight: 700;
  padding-left: 93px;
}
@media (max-width: 576px) {
  .modalWrapper .modal .modalHeader .modalHeaderTitle {
    font-size: 13px;
  }
}
.modalWrapper .modal .modalHeader .modalHeaderBtn {
  width: 36px;
  min-height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: none;
  background-color: transparent;
}
.modalWrapper .modal .modalHeader .modalHeaderBtn:hover {
  background-color: #F0F2F5;
  cursor: pointer;
}
.modalWrapper .modal .modalHeader .modalHeaderBtn .modalHeaderBtnImg {
  width: 20px;
  max-height: 20px;
}
.modalWrapper .modal .modalHeader::after {
  content: "";
  width: 100%;
  border-bottom: 1px solid #ced0d4;
  position: absolute;
  left: 0;
  top: 60px;
}
.modalWrapper .modal .modalMain .modalMainText {
  padding: 12px 16px;
  color: #050505;
  line-height: 1.3333;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 16px;
}
.modalWrapper .modal .modalMain .modalMainBtnWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px;
  gap: 8px;
}
.modalWrapper .modal .modalMain .modalMainBtnWrapper .modalMainBtnFalse {
  color: #0064D1;
  line-height: 1.3333;
  font-size: 15px;
  font-weight: 600;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  border: none;
  min-width: 80px;
}
.modalWrapper .modal .modalMain .modalMainBtnWrapper .modalMainBtnFalse:hover {
  background-color: #F0F2F5;
  cursor: pointer;
}
.modalWrapper .modal .modalMain .modalMainBtnWrapper .modalMainBtnTrue {
  color: white;
  line-height: 1.3333;
  font-size: 15px;
  font-weight: 600;
  background-color: #0866FF;
  padding: 10px 40px;
  border-radius: 5px;
  border: none;
}
.modalWrapper .modal .modalMain .modalMainBtnWrapper .modalMainBtnTrue:hover {
  cursor: pointer;
}

.displayNone {
  display: none;
}/*# sourceMappingURL=ModalDeleteFriend.module.css.map */