.header {
  position: relative;
  div {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    background-color: #fff;
    input {
      max-width: 300px;
      min-height: 30px;
      font-size: 18px;
      padding: 6px 0 4px 10px;
      border: 1px solid #cecece;
      // background: #F6F6f6;
      border-radius: 25px;
    }
    img {
      height: 40px;
      width: 40px;
      margin-right: 8px;
    }
  }
 


}

.loginFormContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 300px;
  background-color: #fff;
  border-radius: 8px;
}


.container{
  width:100wh;
  height:100vh;
  background-color: #f6f6f6;
}