.header {
  position: relative;
  div {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    background-color: #fff;
    input {
      max-width: 300px;
      min-height: 30px;
      font-size: 18px;
      padding: 6px 0 4px 10px;
      border: 1px solid #cecece;
      // background: #F6F6f6;
      border-radius: 25px;
    }
    img {
      height: 40px;
      width: 40px;
      margin-right: 8px;
    }
  }
 

  nav {
    background-color: #f6f6f6;
    font-size: 22px;
    font-weight: 400;
    padding-left: 50px;
    line-height: 1.6;
  
    ul {
      li {
        padding: 15px;

        img {
          height: 20px;
          width: 20px;
          margin-right: 7px;
        }
      }
    }

    @media only screen and (max-width: 993px){
      
    }
    @media only screen and (max-width: 481px){}
  }
  .logOut{
    background-color: #4172ed;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
   
    border-color: #fff;
    padding: 5px;
    min-width: 150px;
    margin-left: 70px;
    margin-top: 70px;
    font-weight: 550;

  }

}
