@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.header {
  grid-area: header;
  width: 100%;
  border-bottom: 1px solid $input-color-main;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
  @include flex-center-row;
  justify-content: space-between;
  padding: 10px 15px;

  &__logoWrap {
    @include flex-center-row;
    background-color: $main-background-color;

    & svg {
      height: 40px;
      width: auto;
    }

    &__link {
      cursor:pointer;
    }

    &__search {
      display: none;
    }
  }

  &__nav {
    display: none
  }

  &__icons {
    @include flex-center-row;
    gap: 8px;

    &__item {
      background-color: $background-color-receiver-message;
      cursor: pointer;
      position: relative;
      @include flex-center;
      justify-content: center;
      @include sizeCircle(40px);

      &:hover {
        background-color: $hover-background-color;
      }

      & svg {
        @include size(20px);
      }

      & span {
        position: absolute;
        @include sizeCircle(20px);
        color: $main-background-color;
        background-color: red;
        @include flex-center;
        top: -6px;
        right: -6px;
        font-size: 14px;
        font-weight: 600;

      }

      &__avatar {
        @include size(40px);
      }
    }

  }
}

.smallLogo {
  display: none;
}

.mobile {
  display: none;
}

@media (min-width: 768px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;

    &__logoWrap {
      &__search {
        display: flex;
        @include input-field;
        padding: 0 16px;
      }
    }

    &__icons {
      gap: 16px;
    }
  }

  .desktopNone {
    display: none;
  }
}

@media (min-width: 1020px) {
  .header {
    max-height: 66px;
  }

  .smallLogo {
    display: block;
    padding-right: 16px;
  }

  .largeLogo {
    display: none;

  }
}