@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";

.container{
  width:100dvw;
  height: 100dvh;
  background-color: $main-background-color;
  display:grid;
  grid-template-areas:
    "header"
    "main"
    "nav";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
}

.containerFullWidth{
  display:grid;
  width:100dvw;
  height: 100dvh;
  grid-template-areas:
      "header"
      "main";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
}

.main{
  grid-area: main;
  background-color: $input-color-main;
  flex:1;
  overflow: auto;
}

.headerMain{
  background-color: $input-color-main;
  overflow: hidden;
}

@media (min-width: 1025px) {
   .container{
     flex-direction: row;
     flex-wrap: wrap;
     height: 100vh;
     grid-template-areas:
    "header header"
    "nav main";
     grid-template-rows: auto 1fr;
     grid-template-columns: 20% 80%;
   }
   .main{
     height: 100%;
   }
}