@import "../../styles/variables.scss";
@import "../../styles/mixin.scss";


.chat{
  @include flex-center;
  height: 100%;
  width: 100%;
  position: relative;
  &__header{
    width: 100%;
    height: 64px;
    @include flex-center;
    flex-direction: row;
    border-bottom: 1px solid $input-color-main;
    padding: 12px 16px;
    &__user{
      border-radius: 6px;
      width: max-content;
      &:hover {
        background-color: $background-color-receiver-message;
        cursor: pointer;
      }
      &__card{
        height: auto;
      }
    }
    & > :hover {
      background: none;
      cursor: auto;
    }
  
    & h2{
      font-size:19px;
      padding-right: 6px;
    }
    & input{
      flex:1;
      font-size:19px;
    }
    // &__filter{
    //   width:36px;
    //   height: 36px;
    // }
  }
  &__filteredUsers{
    position: absolute;
    height: 390px;
    width: 300px;
    border: 1px solid $input-color-main;
    border-radius: 6px;
    box-shadow: 0px 6px 22px 4px rgba(0,0,0,0.1);
    font-size:12px;
    overflow:auto;
    top:50px;
    left:40px;
    background-color: $main-background-color;
    &__item{
      cursor:pointer;
      padding: 2px;
    }
  }
  &__body{
    flex:1;
    display: flex;
    flex-direction: column-reverse;
    width:100%;
    overflow:auto;
    &__messList {
      @include flex-center;
      flex-direction: column-reverse;
      padding: 8px 16px;
      align-items: stretch;
        &__item{
          display:flex;
          flex-direction:column;
          width:100%;
          padding-bottom:8px;
          align-items: center;
          &__btn{
            cursor: pointer;
            padding: 6px;
            background-color: $input-color-main;
            color: $text-color-gray;
            border-radius: 6px;
            &:hover{
              background-color: $hover-background-color;
            }
          }
        }
      
    }
    &__emptyMessages{
      width: 100px;
      height: 100px;
    }
  }
  &__input{
    width:100%;
    @include flex-center;
    flex-direction: row;
    padding:12px 16px;
    position: relative;
      &__area{
        display:flex;
        justify-content: space-between;
        align-items:center;
        background-color: $input-color-main;
        border-radius: 16px;
        color: $text-color-gray;
        min-height: 36px;
        width: 100%;
        padding: 8px 12px;
        max-height: 140px;
        &__wrap{
          @include flex-center;
          align-items: flex-start;
          width: 100%;
          height: inherit;
        }
        &__file{
          position: relative;
          width:48px;
          height: 48px;
          margin-bottom:8px;
          & img{
            border-radius: 6px;
          }
          &__closeBtn{

            display:flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            background-color: #ffffff;
            width:24px;
            height: 24px;
            border-radius: 50%;
            bottom:30px;
            left:30px;
            cursor:pointer;
          }
        }
        
        & textarea{
        font-size: 15px;
        font-family: inherit;
        resize: none;
        color: $text-color-gray;
        width: inherit;
        height: stretch;
      }
      }
  }
  &__emptyList{
    flex:1;
    @include flex-center;
    padding-top:45px;
    &__name{
      font-size: 17px;
      font-weight: bold;
      padding-top: 8px;
      
    }
    &__text{
      color: $text-color-gray;
      font-size: 13px;
      padding-top: 8px;
    }
  }
}
.card{
  width:40px;
  height: 40px;
}
.messageDate{
  font-size: 13px;
  color: $text-color-gray;
  font-weight: bold;
  padding-bottom:8px;
}

.likeBtn{
  cursor:pointer;
}

.pickerWrapper{
  position: absolute;
  bottom: 100%;
  right:12px;
  & div{

    &.em-emoji-picker{
      max-height: 336px;
    }
  }
}

@media (max-width: 767px) {
  .back{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: $input-color-main;
    margin-right: 6px;
    cursor: pointer;
    @include flex-center;
    justify-content: center;
    &:hover{
      background-color: $text-color-gray;
    }
  }
  .chat{
  &__filteredUsers{
    
    width: 340px;
    left:50px;
  }
}
}

@media (min-width: 768px) {
  .back{
    display:none;
  }
}
.none{
  display:none;
}