@import '../../styles/variables';
@import "../../styles/mixin.scss";

.avatarWrapper {
  overflow: hidden;
  border-radius: 50%;
  img {
    @include sizeCircle(100%);
    font-size: 8px;
    border: $border;
    object-fit: cover;
  }
}

.avatar-container {
  @include flex-center-row;
  width: 100%;

  &__info {
    padding: 6px;
    width: 100%;

    &__username {
      font-size: 15px;
      font-weight: bold;
      padding-bottom: 8px;
    }

    &__last-message {
      color: $text-color-gray;
      font-size: 13px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 234px;

      &--unread {
        font-weight: bold;
      }
    }
  }
}