@import "../../styles/mixin.scss";

.update {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    .updateForm {
        position: absolute;
        z-index: 2;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, .2), 0 8px 16px rgba(0, 0, 0, .1);
        padding: 15px;
        width: 422px;
        text-align: center;
        box-sizing: border-box;
        background-color: transparent;

        @include width_576 {
            width: 100%;
            box-shadow: none;
            padding: 20px 35px;
        }

        &::after{
            content: "";
            position: absolute;
            top:110px;
            width: 100%;
            left: 0;
            border-top: 1px solid #dadde1;

            @include width_768 {
                top:85px;
            }
            @include width_576 {
                top: 95px;
            }
    
        }

        .updateFormTitleWrapper {
            text-align: left;
            margin-bottom: 25px;

            .updateFormTitle {
                margin-top: 0;
                color: #1c1e21;
                font-size: 32px;
                line-height: 38px;
                margin-bottom: 0;

                @include width_768 {
                    font-size: 25px;
                }
            }

            .updateFormSubtitle {
                margin: 0;
                color: #606770;
                font-size: 15px;
                line-height: 24px;
            }
        }

        .updateWrapperLink {
            color: #1877f2;
            font-size: 14px;
             font-weight: 500;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
      &:hover {
        text-decoration: underline;
      }

      &::after {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        background: #ccd0d5;
        margin: 22px 0 16px;
      }
        }

        .updateBtnSubmit {
            margin-top: 5px;
            border: none;
            font-weight: bold;
            background-color: #1877f2;
            border-radius: 6px;
            box-shadow: none;
            color: #fff;
            font-size: 18px;
            height: 36px;
            overflow: hidden;
            padding: 0 32px;


            &:hover {
                cursor: pointer;
            }

            &:disabled {
                background-color: grey;
            }
        }
    }

}