@import "../../styles/mixin.scss";

.requestCardWrapper {
    padding: 16px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 16px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    @include width_992 {
        padding: 15px;
    }

    @include width_768 {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .requestCard {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 16px;
        width: 100%;
        text-decoration: none;

        .requestCardImg {
            width: 80px;
            max-height: 80px;
            object-fit: cover;
            border-radius: 5px;
        }

        .requestCardInformWrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;

            .requestCardInformTitle {
                width: 100%;
                text-decoration: none;
                color: #050505;
                line-height: 1.1765;
                font-size: 20px;
                font-weight: 600;

                &:hover {
                    text-decoration: underline;
                }
            }

            .requestCardInformText {
                margin-top: 5px;
                margin-bottom: 0;
                font-size: 13px;
                font-weight: 400;
                line-height: 1.2308;
                color: #65676B;
            }
        }
    }

    .requestBtnsWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        z-index: 1;

        // .requestBtnReject {
        //     line-height: 1.3333;
        //     font-weight: 600;
        //     font-size: 15px;
        //     color: #050505;
        //     padding: 8px 12px;
        //     border: none;
        //     border-radius: 5px;
        //     background-color: #F0F2F5;

        //     &:hover {
        //         cursor: pointer;
        //         background-color: #d8dadf;
        //     }
        // }

        .requestBtnConfirm {
            line-height: 1.3333;
            font-weight: 600;
            font-size: 15px;
            color: white;
            padding: 8px 12px;
            border: none;
            border-radius: 5px;
            background-color: #0866FF;

            &:hover {
                cursor: pointer;
                background-color: #0861f2;
            }
        }
    }
}